@{
    ViewData["Title"] = "Panel Administrador";
}

<div class="container mt-5">
    <h2 class="mb-4">🛠 Panel de Administrador</h2>

    <div class="list-group">

        <a href="/Odontologo" class="list-group-item list-group-item-action">
            👨‍⚕️ Gestión de Odontólogos
        </a>
        <a href="/Recepcionista" class="btn btn-outline-success">
            ➕ Crear nueva Recepcionista
        </a>
        <a href="/Tratamiento" class="list-group-item list-group-item-action">
            🦷 Gestión de Tratamientos
        </a>

        <a href="/Paciente" class="list-group-item list-group-item-action">
            📋 Ver Pacientes
        </a>

        <a href="/Turno" class="list-group-item list-group-item-action">
            📅 Ver Turnos
        </a>
    </div>
</div>
